body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: #333;
    line-height: 1.6;
    background-image: url('/about/bgi/bg.jpg'); /* Replace with your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Keep background fixed during scroll */
  
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(30, 26, 26, 0.7);
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.main-nav {
    display: flex;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #A79DEC;
}

.about-section {
    padding: 8rem 0; /* Adjusted for header */
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure full viewport height */
}

.about-content {
    max-width: 800px;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background for readability */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-content h1, .about-content h2, .about-content h3, .about-content h4, .about-content h5, .about-content h6, .about-content h7 {
    color: #A79DEC;
    margin-bottom: 1rem;
}

.about-content p {
    margin-bottom: 1.5rem;
}

.bio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    height: 150px ;
    width: 370px;
  
}

.bio-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 1.5rem;
    object-fit: cover;
}

.hero {
  text-align: left;
  width: 150px;
}

.name3 {
    text-align: left;
   margin-left: 20%;
   margin-bottom: 40%}
   
mark { 
  background-color:#00FFF88F;
}